@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.head{
    font-family:"Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: blue;
}